.footer_wrapper {
  padding: 32px;
  margin: 0 auto;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ded9d9;
    padding-top: 16px;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      & > span {
        margin-top: 16px;
        font-size: 14px;
        line-height: 24px;
        svg {
          position: relative;
          bottom: -4px;
        }
      }
    }
  }
}
